@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    font-family: 'Syne Mono', monospace;
    margin:0 1rem;
}

.home{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:5rem;
    justify-content: space-evenly;
}

.home-img{
    width: 30%;
    border-radius: 10%;
    
}

.home-header{
    width: 50%;
    justify-content: center;
    color:#9a4fb1;
}

.home-header>h1,h2{
    margin-bottom: 1rem;
}

.home-button{
    padding:0.5rem 3rem;
    margin:1rem 0;
    background-color: transparent;
    color:#9a4fb1;
    border:1px solid #9a4fb1;
    font-weight: bold;
    font-size:1.3rem;
    font-family: 'Syne Mono', monospace;
}

.home-button:hover{
    background-color: #9a4fb1;
    color:white;
    cursor: pointer;
}


.nav__ul{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 100%;
    padding: 1rem 0;
    list-style: none;
    background-color: #9a4fb1;
    color:white;
}


.right-links{
    display:flex;
    flex-direction: row;
}

.nav__link>a{
    margin: 0 2rem;
    color:inherit;
    text-decoration: none;
}

.form-div{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin:5rem auto;
}

.login-card{
    flex:1;
}


.form{
    flex:1;
}

.form-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0.5em 0;
}

.form-part>input,textarea{
    padding: 0.25rem;
}

.form-part>label{
    font-weight: bold;
}

.form>p{
    font-size:1rem;
}

.btn{
    padding:0.25rem 1rem;
    font-weight: bold;
    background-color: transparent;
    border:1px solid black;
}

.btn:hover{
    cursor: pointer;
    background-color: purple;
    color:white;
}

.form-error{
    color:red;
}

@media only screen and (max-width:800px){
    .form-div{
        flex-direction: column;
    }

}

@media only screen and (max-width:600px){


    .nav{
        flex-direction: column;
        text-align: center;
    }

    .nav__ul{
        flex-direction: column;
    }

    .nav__link>a{
        margin:0 0.5rem;
    }

    .user-div{
        flex-direction: column;
    }
    .form-part>input,textarea{
        width: 100%;
    }
}

