.home{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:5rem;
    justify-content: space-evenly;
}

.home-img{
    width: 30%;
    border-radius: 10%;
    
}

.home-header{
    width: 50%;
    justify-content: center;
    color:#9a4fb1;
}

.home-header>h1,h2{
    margin-bottom: 1rem;
}

.home-button{
    padding:0.5rem 3rem;
    margin:1rem 0;
    background-color: transparent;
    color:#9a4fb1;
    border:1px solid #9a4fb1;
    font-weight: bold;
    font-size:1.3rem;
    font-family: 'Syne Mono', monospace;
}

.home-button:hover{
    background-color: #9a4fb1;
    color:white;
    cursor: pointer;
}


